body, .book.font-family-1 {
    font-family: "Open Sans",Whitney SSm A,Whitney SSm B,Helvetica,Arial,sans-serif;
}
.book.color-theme-3 .book-header {
    background: #364150;
}
.book-header, .book-header h1, .book-header .btn {
    height: 40px;
    line-height: 40px;
}
.book-summary ul.summary li:last-child {
    display: none;
}
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
    padding: 5px 0px 5px 15px;
}
.book-summary {
    margin-top: 40px;
    font-family: inherit;
}
.book.with-summary::before {
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    content: url(https://cdn.formelo.com/20160905/01/1473038591623-logo_398x100_lightbg@2x.png?width=120);
    margin-left: 10px;
    cursor: pointer;
}
.book-summary ul.summary {
    margin: 0px 5px;
}
.book-summary ul.summary li.header, .book-summary ul.summary li a, .book-summary ul.summary li span {
    font-weight: 600;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 5px 15px;
}
@media (max-width: 600px) {
    .book.with-summary .book-body {
        -webkit-transform: translate(200px,0);
        -moz-transform: translate(200px,0);
        -ms-transform: translate(200px,0);
        -o-transform: translate(200px,0);
        transform: translate(200px,0);
    }
    .book.with-summary .book-summary {
        max-width: 200px !important;
    }
    .book.with-summary .book-header, .book.with-summary .book-body {
        left: 0px !important;
    }
}
@media (min-width: 600px) {
    .book.with-summary .book-summary {
        max-width: 200px;
    }
    .book.with-summary .book-header, .book.with-summary .book-body {
        left: 200px !important;
    }
}
.navigation .summary img {
    max-width: 100%;
    padding: 10px 20px;
}
.api-method {
    margin: 0px -30px;
    border-top: 1px solid #f0f4f7;
}
.book.two-columns .api-method .api-method-code {
    border-top: 1px solid #364150;
    margin-top: -1px;
    height: -webkit-fill-available;
}
.book.color-theme-3 .book-body section .api-method-code {
    color: #EEE;
    background-color: #233040;
}
.book.color-theme-3 .book-body section .api-method-code code, .book.color-theme-3 .book-body section .api-method-code pre {
    background-color: #364150;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
    font-weight: 200;
}
.markdown-section h1 {
    font-size: 1.75em;
}
.markdown-section h2 {
    font-size: 1.5em;
}
.markdown-section h3 {
    font-size: 1.25em;
}
.markdown-section h4 {
    font-size: 1em;
}
.markdown-section h5 {
    font-size: 1em;
}
.markdown-section h6 {
    font-size: 1em;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://cdn.formelo.com/assets/admin/pages/css/../fonts/DXI1ORHCpsQm3Vp6mXoaTfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
